:root{
    --primary:#0064b1;
    --secondary:#f58026;
    --light: #EEEEEE;
    --dark: #212121;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-container{
    max-width: 1350px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: var(--primary);
    padding: 16px 32px;
    border-bottom: 3px solid var(--secondary);
}

h1{
    margin: auto;
    color: var(--secondary);
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.mavmedialogo{
    width: 100px;
    height: auto;
    margin-left: 20px;
    margin-right: auto;
}

.navbutton{
    display: block;
    position: relative;
    z-index: 1;
    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.navbutton span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    margin-left: 5px;   
    position: relative;
    background-color: var(--light);
    border-radius: 6px;
    z-index: 1;
    transform: 0 0;
    transition: 0.4s;
}

.navbutton:hover span:nth-child(2){
    transform: translateX(10px);
    background-color: var(--secondary);

}

.navbutton.is-active span:nth-child(1){
    transform: translate(0px,5px) rotate(45deg);
}

.navbutton.is-active span:nth-child(2){
    opacity: 0;
    transform: translate(15px);
}

.navbutton.navbutton.is-active span:nth-child(3){
    transform: translate(0px,-13px) rotate(-45deg);
}

.navbutton.is-active:hover span{
    background-color: var(--secondary);
}
.menu{
    display: none;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0 -16px;
}

.menu a{
    color: white;
    margin: 0 20px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 10px;
    border-radius: 99px;
}

.menu a.is-active, .menu a:hover{
    background-color: var(--secondary);
}

@media (min-width: 1000px){
    .navbutton{
        display: none;
    }

    .menu{
        display: flex;
    }
}