:root{
    --primary:#0064b1;
    --secondary:#f46f19;
    --light: #EEEEEE;
    --dark: #212121;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
        ),
        url("uta-tower-daylight-small-1h2cjjf.png");
        
    background-repeat: no-repeat;
    background-position-y: 225px;
    background-attachment: fixed;
    background-size: cover;
    
}

#header{
    position: sticky;
    top: 0;
}

.nav-container{
    position: static;
    max-width: 1350px;
    margin: 0 auto;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--primary);
    padding: 16px 32px;
    border-bottom: 3px solid var(--secondary);
}
.mavmedialogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
}
.menu{
    display: flex;
    flex: 1 1 0%;
    justify-content: center;
    margin: 0 -16px;
}

.menu a{
    color: white;
    margin: 0 20px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 10px;
    border-radius: 99px;
}

.menu a.is-active, .menu a:hover{
    background-color: var(--secondary);
}

@media (min-width: 1000px){
    .navbutton{
        display: none;
    }

    .menu{
        display: flex;
    }
}

#mavmedia{
    max-width: 500px;
    margin: 0 auto;
}

#title{
    color: white;
    margin-top: 250px;
    text-align: center;
    font-family: serif;
    font-style: italic;
    font-size: 25px;
    line-height: normal;
}
#description{
    color: white;
    margin-top: auto;
    text-align: center;
    font-family: serif;
    font-size: 20px;
    line-height: normal;
    letter-spacing: 3px;
    box-sizing: border-box;
    text-transform: uppercase;
}

h1{
    margin-top:5px;
    text-align: center;
    color: var(--secondary);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 175px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: 0em;
    letter-spacing: 7px;
}

footer{
    background-color: var(--secondary);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

#aboutfooter{
    text-transform: uppercase;
    color: white;
}

#paragraphfooter{
    color: whitesmoke;
}

#video-container{
    position: relative;
    margin-top: 25px;
    width: 100%;
    text-align: center;
}

#lofi{
    color: white;
    margin-top: 250px;
    text-align: center;
    font-family: serif;
    font-size: 40px;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#aboutus{
    color: white;
    text-align: center;
    font-family: serif;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50em;
}

#members{
    margin-top: 45px;
}

#membertitle{
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-style: normal;
}

ul{
    position: static;
    margin-top: 50px;
    color: white;
    background: #ccc;
    height: 600px;
}

ul li{
    list-style: none;
    position: relative;
    width: 20%;
    height:100%;
    border-right: 1px solid #000;
    float: left;
    box-sizing: border-box;
    transition: .5x;
    text-align: center;
    overflow: hidden;
}

ul:hover li{
    width: 17.5%;
}

ul li:nth-child(3){
    background: url(MakaylaMiller.jpeg);
    background-size: cover;
    background-position: top;
}

ul li:hover{
    width: 30%; 
}

ul li .content{
   position: absolute;
   bottom: -100%;
   left: 0;
   width: 100%;
   background: rgba(0, 0, 0, 0.9);
   margin-bottom: 10px;
}

ul li:hover .content{
    bottom:0;
    transition: .2s;
}

.contact-form{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid var(--secondary);
    border-radius: 8px;
    margin: 0 auto;
    width: 50%;
    padding: 20px;
    background: rgba(0, 0, 0, .7);
    box-shadow: 0px 0px 20px var(--primary);
}

.form{
    width: 100%;
    margin-top: 15px;
    font-size: 20px;
}

.form input,
.form textarea{
    width: 100%;
    padding: 10px;
    font-size: 18px;
    margin-top: 5px;
}

textarea{
    resize: vertical;
}

button[type="submit"]{
    width: 100%;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 24px;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
    color: var(--secondary);
    font-weight: 1000;
    transition: .3s ease background-color;
    background-color: #212121;
    border: 2px solid var(--primary)
}

button[type="submit"]:hover{
    background-color: var(--primary);
}

#status{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    width: 20%;
    border-radius: 8px;
    font-weight: 500;
}

#status.success{
    background-color: rgb(211, 250, 153);
    animation: status 4s ease forwards;
}

#status.error{
    background-color: rgb(240, 83, 36);
    color: white;
    animation: status 4s ease forwards;
}
@keyframes status{
    0%{
        opacity: 1;
        pointer-events: all;
    }
    90%{
        opacity: 1;
        pointer-events: all;
    }
    100%{
       opacity: 0;
       pointer-events: none; 
    }
}